body{
    background-color: #F7B617
}

i.icon-black {
    color: black;
}

.nav-wrapper {
    background-color: white;
}

.wrapper {
    position: relative;
    background: url(../assets/images/taxi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 80vh;
    overflow: hidden;
    color: #fff;
    
    margin: 0; 
    padding: 0;
}

.container {
   
    background-color: #F7B617;
    text-align: center;
    float: right;
    width: 500px;
    height: 300px;
    vertical-align: middle;
    border-collapse: collapse;
    margin: 0; 
    padding: 0;
    
    
}

.sidenav{
   
    max-height: 500px;

}

.wrapper2 {
   background-color: #F7B617;
   margin: 0; 
   padding: 0;
   
  
}

.container2 {
   
    background-color: #F7B617;
    text-align: center;
    display: block;  
    position: relative;
    margin: 0; 
    padding: 0;
}

.wrapper3 {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/images/conduce.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 50vh;
    overflow: hidden;
    color: #fff;
}

.container3 {
    text-align: left;
    
}

.wrapper4 {
    background-color: #F7B617;
}

.btn-ruta{
    align-content: center;
    
}

.wrapper5{
    background-color: #2B2B2B;
    display: table;
    width: 100%;
}

.info-lista, .lista-apps {
    display: table-cell;
    
  }

.info-lista{
    width: 80%;
    text-align: left;
}

.lista-apps{
    width: 20%;
    text-align: right;
    /* float: left; */
}

.social-media li{
    text-align: center;
    display:inline;
    padding-left:3px;
    padding-right:3px;
}

.fa{
    color:white;
}

